body{
    margin: 0;
    width: 100%;

    background-color:#ececec;
    overflow-x: hidden;
}


.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    width: 100vw;
    height: 150vh;
}

.nav{
    grid-area: 1 / 1 / 2 / 6;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main{
    grid-area: 2 / 1 / 5 / 6;
    padding: 20px;
}

.footer{
    grid-area: 3 / 1 / 4 / 2; 
}


img{
    float: left;
    margin: 10px;
    width: 50vw;
}
